<?xml version="1.0" encoding="ascii"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
  <TotalTime>47</TotalTime>
  <Words>845</Words>
  <Application>Microsoft Office PowerPoint</Application>
  <PresentationFormat>&#23485;&#23631;</PresentationFormat>
  <Paragraphs>193</Paragraphs>
  <Slides>13</Slides>
  <Notes>13</Notes>
  <HiddenSlides>0</HiddenSlides>
  <MMClips>0</MMClips>
  <ScaleCrop>false</ScaleCrop>
  <HeadingPairs>
    <vt:vector size="6" baseType="variant">
      <vt:variant>
        <vt:lpstr>&#24050;&#29992;&#30340;&#23383;&#20307;</vt:lpstr>
      </vt:variant>
      <vt:variant>
        <vt:i4>2</vt:i4>
      </vt:variant>
      <vt:variant>
        <vt:lpstr>&#20027;&#39064;</vt:lpstr>
      </vt:variant>
      <vt:variant>
        <vt:i4>2</vt:i4>
      </vt:variant>
      <vt:variant>
        <vt:lpstr>&#24187;&#28783;&#29255;&#26631;&#39064;</vt:lpstr>
      </vt:variant>
      <vt:variant>
        <vt:i4>13</vt:i4>
      </vt:variant>
    </vt:vector>
  </HeadingPairs>
  <TitlesOfParts>
    <vt:vector size="17" baseType="lpstr">
      <vt:lpstr>Noto Sans SC</vt:lpstr>
      <vt:lpstr>Arial</vt:lpstr>
      <vt:lpstr>Office &#20027;&#39064;&#8203;&#8203;</vt:lpstr>
      <vt:lpstr>&#40664;&#35748;&#20027;&#39064;</vt:lpstr>
      <vt:lpstr>PowerPoint &#28436;&#31034;&#25991;&#31295;</vt:lpstr>
      <vt:lpstr>PowerPoint &#28436;&#31034;&#25991;&#31295;</vt:lpstr>
      <vt:lpstr>PowerPoint &#28436;&#31034;&#25991;&#31295;</vt:lpstr>
      <vt:lpstr>PowerPoint &#28436;&#31034;&#25991;&#31295;</vt:lpstr>
      <vt:lpstr>PowerPoint &#28436;&#31034;&#25991;&#31295;</vt:lpstr>
      <vt:lpstr>PowerPoint &#28436;&#31034;&#25991;&#31295;</vt:lpstr>
      <vt:lpstr>PowerPoint &#28436;&#31034;&#25991;&#31295;</vt:lpstr>
      <vt:lpstr>PowerPoint &#28436;&#31034;&#25991;&#31295;</vt:lpstr>
      <vt:lpstr>PowerPoint &#28436;&#31034;&#25991;&#31295;</vt:lpstr>
      <vt:lpstr>PowerPoint &#28436;&#31034;&#25991;&#31295;</vt:lpstr>
      <vt:lpstr>PowerPoint &#28436;&#31034;&#25991;&#31295;</vt:lpstr>
      <vt:lpstr>PowerPoint &#28436;&#31034;&#25991;&#31295;</vt:lpstr>
      <vt:lpstr>PowerPoint &#28436;&#31034;&#25991;&#31295;</vt:lpstr>
    </vt:vector>
  </TitlesOfParts>
  <LinksUpToDate>false</LinksUpToDate>
  <SharedDoc>false</SharedDoc>
  <HyperlinksChanged>false</HyperlinksChanged>
  <AppVersion>16.0000</AppVersion>
</Properties>
